.imagem-overlay {
    height: 100%;
    width: 100%;
    border: 2px solid var(--primary-color);
}

.imagem-overlay img {
    height: 100%;
    width: 100%;
    border: 2px solid var(--primary-color);
    opacity: 0.5;
}